@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

.tableFixHead {
  overflow: auto;
  height: 600px;
}
.tableFixHead thead th {
  position: sticky;
  top: -25px;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
  @apply z-10 min-w-[500px] overflow-x-scroll;
}
th,
td {
  padding: 8px 16px;
  @apply z-10 border-b;
}
th {
  background: #eee;
  text-align: left;
  @apply z-10;
}
